---
const name = "Hannah Capone";
const jobTitle = "Operations Manager";
const image = "https://rallendev.com/images/emails/email-hannah.jpg";

const logo = "https://rallendev.com/images/emails/email-logo.png";
const websiteUrl = "https://rallendev.com";

const contactDetails = [
  {
    type: "Email",
    value: "mailto:hannah@rallendev.com",
    text: "hannah@rallendev.com",
    icon: "https://rallendev.com/images/emails/mail.png",
  },
  {
    type: "Website",
    value: websiteUrl,
    text: "rallendev.com",
    icon: "https://rallendev.com/images/emails/web.png",
  },
  {
    type: "Phone",
    value: "tel:+447468910110",
    text: "+44 746 891 0110",
    icon: "https://rallendev.com/images/emails/phone.png",
  },
];

const socialLinks = [
  {
    platform: "LinkedIn",
    url: "https://www.linkedin.com/in/hannah-capone-1b8aba300/",
    icon: "https://rallendev.com/images/emails/linkedin.png",
  },
  {
    platform: "WhatsApp",
    url: "https://wa.me/447468910110",
    icon: "https://rallendev.com/images/emails/whatsapp.png",
  },
  {
    platform: "Telegram",
    url: "https://t.me/hannahcapone",
    icon: "https://rallendev.com/images/emails/telegram.png",
  },
];

const ctaImage =
  "https://rallendev.com/images/emails/email-cta.png";

const primaryColorText = "#664b19";
const textColor = "#0a0a0a";
const mutedTextColor = "#555555";

const dividerColor = "#e0e0e0";
---

<table
  cellspacing="0"
  cellpadding="0"
  border="0"
  width="360"
  style=`font-family: Arial, sans-serif; color: ${textColor}; max-width:360px; background: transparent !important;`
>
  <tbody>
    <tr>
      <td
        colspan="2"
        style=`padding-bottom: 4px; padding-right: 16px; border-bottom: 1px solid ${dividerColor};`
      >
        <span
          style=`font-size: 18px; line-height: 28px; color: ${textColor};`
          ><strong>{name}</strong><br /></span
        >
        <span style=`font-size: 14px; color: ${mutedTextColor};`>
          {jobTitle} | <strong style={`color: ${textColor};`}
            >R Allen Dev</strong
          >
        </span>
      </td>
      <!-- <td
        style=`padding-bottom: 4px; padding-top: 4px; border-bottom: 1px solid ${dividerColor};`
        align="right"
        valign="top"
      >
        <a href={websiteUrl} target="_blank" rel="noopener noreferrer">
          <img
            src={logo}
            alt="R Allen Dev"
            width="100"
            height="23"
            style="display: block; border: none;"
          />
        </a>
      </td> -->
    </tr>
    <tr>
      <td
        style="padding-top: 16px; padding-right: 16px;"
        valign="top"
        align="left"
      >
        <img
          src={image}
          alt={name}
          width="96"
          height="96"
          style="display: block; border: none; border-radius: 100%;"
        />
      </td>
      <td style="padding-top: 25px; font-size: 14px; width: 100%;" align="left">
        {
          contactDetails.map((detail) => (
            <a
              href={detail.value}
              style={`color: ${textColor}; text-decoration: none;`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <span style="line-height: 20px;">
                <img
                  src={detail.icon}
                  alt={detail.type}
                  width="16"
                  height="16"
                  style="margin-right: 2px;"
                />
                <span>{detail.text}</span>
                <br />
              </span>
            </a>
          ))
        }

        <span>
          {
            socialLinks.map((social) => (
              <a
                href={social.url}
                target="_blank"
                rel="noopener noreferrer"
                style="display: inline-block; margin-right: 6px; margin-top: 8px;"
              >
                <img
                  src={social.icon}
                  alt={social.platform}
                  width="18"
                  height="18"
                  style="display: block; border: none;"
                />
              </a>
            ))
          }
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a
          href={websiteUrl + "/contact"}
          target="_blank"
          rel="noopener noreferrer"
          style="display: inline-block; margin-right: 6px; margin-top: 8px;"
        >
          <img
            src={ctaImage}
            alt="Book a Meeting"
            width="360"
            height="62"
            style="display: block; border: none;"
          />
        </a>
      </td>
    </tr>
    <tr>
      <td
        colspan="2"
        style="padding-top: 8px; font-size: 10px; line-height: 14px;"
        align="left"
      >
        <span>
          <em style=`color: ${mutedTextColor};`
            >This email and any attachments are confidential. If you are not the
            intended recipient, please notify the sender immediately and delete
            this email from your system. Any unauthorized use, disclosure, or
            distribution of this email is prohibited.</em
          >
        </span>
      </td>
    </tr>
  </tbody>
</table>
