---
import seo from "@data/general/seo.yml";

const { title, description, noBrand = false } = Astro.props;

const siteName = seo.siteName;
const brand = seo.brand;
const tagline = seo.tagline;

const fullTitle = noBrand
  ? title
  : title
    ? `${title} | ${siteName} (${brand})`
    : `${siteName} (${brand}) | ${tagline}`;

const siteDescription = description ? description : seo.description;
---

<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{fullTitle}</title>
    <meta
      name="description"
      content={siteDescription}
    />
    <slot name="head" />
  </head>
  <body>
      <slot />
  </body>
</html>
