---
import { cva } from "class-variance-authority";
import { cn } from "@scripts/utils";
import { Icon } from "astro-icon/components";

const {
  variant = "light",
  as = "button",
  class: className,
  icon,
  label,
  ...rest
} = Astro.props;

const Tag = as;
const isButton = Tag === "button";
const isLink = Tag === "a";

const buttonVariants = cva(
  "w-11 h-11 duration-300 font-base uppercase relative inline-flex items-center justify-center gap-2 whitespace-nowrap font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-6 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] cursor-pointer",
  {
    variants: {
      variant: {
        // Blocks
        primary: "bg-primary text-primary-foreground",
        light: "bg-background-light text-foreground-light",
        dark: "bg-background-dark text-foreground-dark",
        outline: "border border-divider-dark text-foreground-dark",

        // Hover Effects
        ghostDarkPrimary: "bg-transparent text-foreground-dark hover:bg-primary hover:text-primary-foreground focus-visible:bg-primary focus-visible:text-primary-foreground",
      },
    },
    defaultVariants: {
      variant: "light",
    },
  }
);

const buttonClasses = cn(buttonVariants({ variant }), className);
const animationWrapperClasses =
  "relative inline-flex overflow-hidden justify-center items-center w-full h-full";
const initialIconClasses =
  "relative transition-all duration-400 ease-in-out inline-block";
const hoverIconClasses =
  "absolute inset-0 transition-all duration-500 ease-in-out inline-block mx-auto my-auto";
---

<Tag
  aria-disabled={rest.disabled ? "true" : undefined}
  class={buttonClasses}
  data-variant={variant}
  x-data="buttonHover()"
  @mouseenter="onMouseEnter"
  @mouseleave="onMouseLeave()"
  @focus="onMouseEnter"
  @blur="onMouseLeave"
  @keydown.enter.prevent="$el.click()"
  @keydown.space.prevent="$el.click()"
  {...rest}
>
  <span class={animationWrapperClasses}>
    <Icon
      name={icon}
      aria-hidden="true"
      class={initialIconClasses}
      x-ref="initialIcon"
    />
    <Icon
      name={icon}
      aria-hidden="true"
      class={hoverIconClasses}
      style="transform: translateY(100%); opacity: 0; filter: blur(5px);"
      x-ref="hoverIcon"
    />
  </span>
  <span class="sr-only">{label}</span>
</Tag>
